<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SilverMoon</title>
    <link rel="icon" type="image/png" href="../static/images/logo.png">
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- Ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <!--- NavBar -->
    <nav>
        <div class="logo">
            <a href="../index.html#top"><img src="../static/images/logo.png" alt="SilverMoon Logo">SilverMoon.</a>
        </div>
        <div class="menu-toggle" id="menuToggle">
            <ion-icon name="menu-outline"></ion-icon>
        </div>        
        <div class="nav-links" id="navLinks">
            <a href="../index.html#top">Home</a>
            <div class="dropdown">
                <a href="hoodies.html#hoodies" class="dropdown-toggle">Hoodies<ion-icon name="chevron-down-outline"></ion-icon></a>
                <div class="dropdown-menu">
                    <a href="hoodies.html#hmens">Men's Category</a>
                    <a href="hoodies.html#hwomens">Women's Category</a>
                    <a href="hoodies.html#hkids">Kids' Category</a>
                    <a href="hoodies.html#hbaby">Baby Category</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="sweatshirts.html#sweatshirts" class="dropdown-toggle">Sweatshirts<ion-icon name="chevron-down-outline"></ion-icon></a>
                <div class="dropdown-menu">
                    <a href="sweatshirts.html#smens">Men's Category</a>
                    <a href="sweatshirts.html#swomens">Women's Category</a>
                    <a href="sweatshirts.html#skids">Kids' Category</a>
                    <a href="sweatshirts.html#sbaby">Baby Category</a>
                </div>
            </div>
            <a href="contact.html#contact">Contact Us</a>
            <div class="icons"><ion-icon name="cart-outline"></ion-icon></div>
            <a href="login.html#top">Login</a>
        </div>
    </nav>

    <!--- Menu -->
    <section class="menu-section" id="hoodies">
        <h3 class="menu-subtitle">OUR HOODIES</h3>
        <h2 class="menu-title" id="hmens">Men's Hoodies</h2>

        <div class="menu-container">
            <div class="menu-card">
                <img src="../static/images/products/Men's Loose Fit Hoodie.webp" alt="Men's Loose Fit Hoodie">
                <h3>Men's Loose Fit Hoodie</h3>
                <p class="price">₱999.00</p>
                <button class="add-btn">Add to Cart</button>
            </div>

            <div class="menu-card">
                <img src="../static/images/products/Men's Loose Fit Printed Hoodie.webp" alt="Men's Loose Fit Printed Hoodie">
                <h3>Men's Loose Fit Printed Hoodie</h3>
                <p class="price">₱1,790.00</p>
                <button class="add-btn">Add to Cart</button>
            </div>

            <div class="menu-card">
                <img src="../static/images/products/Men's Regular Fit Hoodie.webp" alt="Men's Regular Fit Hoodie">
                <h3>Men's Regular Fit Hoodie</h3>
                <p class="price">₱1,790.00</p>
                <button class="add-btn">Add to Cart</button>
            </div>

            <div class="menu-card">
                <img src="../static/images/products/Men's Regular Fit Printed Hoodie.webp" alt="Men's Regular Fit Printed Hoodie">
                <h3>Men's Regular Fit Printed Hoodie</h3>
                <p class="price">₱1,490.00</p>
                <button class="add-btn">Add to Cart</button>
            </div>
        </div>

        <h2 class="menu-title specialty-title" id="hwomens">Women's Hoodies</h2>

        <div class="menu-container">
            <div class="menu-card">
                <img src="../static/images/products/Women's Oversized Zip-Through Hoodie.webp" alt="Women's Oversized Zip-Through Hoodie">
                <h3>Women's Oversized Zip-Through Hoodie</h3>
                <p class="price">₱1,490.00</p>
                <button class="add-btn">Add to Cart</button>
            </div>

            <div class="menu-card">
                <img src="../static/images/products/Women's Hoodie.webp" alt="Women's Hoodie">
                <h3>Women's Hoodie</h3>
                <p class="price">₱999.00</p>
                <button class="add-btn">Add to Cart</button>
            </div>

            <div class="menu-card">
                <img src="../static/images/products/Women's Zip-Through Hoodie.webp" alt="Women's Zip-Through Hoodie">
                <h3>Women's Zip-Through Hoodie</h3>
                <p class="price">₱999.00</p>
                <button class="add-btn">Add to Cart</button>
            </div>

            <div class="menu-card">
                <img src="../static/images/products/Women's Hooded Top.webp" alt="Women's Hooded Top">
                <h3>Women's Hooded Top</h3>
                <p class="price">₱999.00</p>
                <button class="add-btn">Add to Cart</button>
            </div>
        </div>

        <h2 class="menu-title specialty-title" id="hkids">Kids Hoodies</h2>

        <div class="menu-container">
            <div class="menu-card">
                <img src="../static/images/products/Kids Motif-Detail Hoodie.webp" alt="Kids Motif-Detail Hoodie">
                <h3>Kids Motif-Detail Hoodie</h3>
                <p class="price">₱999.00</p>
                <button class="add-btn">Add to Cart</button>
            </div>

            <div class="menu-card">
                <img src="../static/images/products/Kids Logo Zip Hoodie In Fleece.webp" alt="Kids Logo Zip Hoodie In Fleece">
                <h3>Kids Logo Zip Hoodie In Fleece</h3>
                <p class="price">₱1,950.00</p>
                <button class="add-btn">Add to Cart</button>
            </div>

            <div class="menu-card">
                <img src="../static/images/products/Kids Hoodie.webp" alt="Kids Hoodie">
                <h3>Kids Hoodie</h3>
                <p class="price">₱699.00</p>
                <button class="add-btn">Add to Cart</button>
            </div>

            <div class="menu-card">
                <img src="../static/images/products/Kids Zipped Hoodie.webp" alt="Kids Zipped Hoodie">
                <h3>Kids Zipped Hoodie</h3>
                <p class="price">₱1,495.00</p>
                <button class="add-btn">Add to Cart</button>
            </div>
        </div>

        <h2 class="menu-title specialty-title" id="hbaby">Baby Hoodies</h2>

        <div class="menu-container">
            <div class="menu-card">
                <img src="../static/images/products/Baby Cotton Hoodie.webp" alt="Baby Cotton Hoodie">
                <h3>Baby Cotton Hoodie</h3>
                <p class="price">₱1,295.00</p>
                <button class="add-btn">Add to Cart</button>
            </div>

            <div class="menu-card">
                <img src="../static/images/products/Baby VintageSoft Logo Hoodie One-Piece.webp" alt="Baby VintageSoft Logo Hoodie One-Piece">
                <h3>Baby VintageSoft Logo Hoodie One-Piece</h3>
                <p class="price">₱2,749.00</p>
                <button class="add-btn">Add to Cart</button>
            </div>

            <div class="menu-card">
                <img src="../static/images/products/Baby Printed Hoodie.webp" alt="Baby Printed Hoodie">
                <h3>Baby Printed Hoodie</h3>
                <p class="price">₱1,295.00</p>
                <button class="add-btn">Add to Cart</button>
            </div>

            <div class="menu-card">
                <img src="../static/images/products/Baby Appliquéd Fleece Hoodie.webp" alt="Baby Appliquéd Fleece Hoodie">
                <h3>Baby Appliquéd Fleece Hoodie</h3>
                <p class="price">₱1,290.00</p>
                <button class="add-btn">Add to Cart</button>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-col brand">
                <h2>SilverMoon<span>.</span></h2>
                <p>We will keep you cozy with our comfy hoodies and sweatshirts with fast delivery.</p>
                <div class="footer-socials">
                    <a href="https://facebook.com/"><ion-icon name="logo-facebook"></ion-icon></a>
                    <a href="https://instagram.com/"><ion-icon name="logo-instagram"></ion-icon></a>
                    <a href="https://twitter.com/"><ion-icon name="logo-twitter"></ion-icon></a>
                    <a href="https://google.com/"><ion-icon name="logo-google"></ion-icon></a>
                </div>
            </div>

            <div class="footer-col">
                <h3>Our Products</h3>
                <ul>
                    <li><a href="../index.html#popular">Popular</a></li>
                    <li><a href="../index.html#picks">Picks</a></li>
                    <li><a href="hoodies.html#hoodies">Hoodies</a></li>
                    <li><a href="sweatshirts.html#sweatshirts">Sweatshirts</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h3>Company</h3>
                <ul>
                    <li><a href="../index.html#services">Why SilverMoon</a></li>
                    <li><a href="footer.html#partner">Partner With Us</a></li>
                    <li><a href="footer.html#about">About Us</a></li>
                    <li><a href="footer.html#faq">FAQs</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h3>Support</h3>
                <ul>
                    <li><a href="login.html">Account</a></li>
                    <li><a href="contact.html#contact">Support Center</a></li>
                    <li><a href="../index.html#reviews">Feedback</a></li>
                    <li><a href="contact.html#contact">Contacts</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; 2025 SilverMoon. All rights reserved.</p>
        </div>
    </footer>

    <script src="../static/js/script.js"></script>
</body>
</html>