<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dimsum by Luna</title>
    <link rel="icon" type="image/png" href="../static/images/logo.png">
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- Ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <!--- NavBar -->
    <nav>
        <div class="logo">
            <a href="../index.html#top"><img src="../static/images/logo.png" alt="SilverMoon Logo">SilverMoon.</a>
        </div>
        <div class="menu-toggle" id="menuToggle">
            <ion-icon name="menu-outline"></ion-icon>
        </div>        
        <div class="nav-links" id="navLinks">
            <a href="../index.html#top">Home</a>
            <div class="dropdown">
                <a href="hoodies.html#hoodies" class="dropdown-toggle">Hoodies<ion-icon name="chevron-down-outline"></ion-icon></a>
                <div class="dropdown-menu">
                    <a href="hoodies.html#hmens">Men's Category</a>
                    <a href="hoodies.html#hwomens">Women's Category</a>
                    <a href="hoodies.html#hkids">Kids' Category</a>
                    <a href="hoodies.html#hbaby">Baby Category</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="sweatshirts.html#sweatshirts" class="dropdown-toggle">Sweatshirts<ion-icon name="chevron-down-outline"></ion-icon></a>
                <div class="dropdown-menu">
                    <a href="sweatshirts.html#smens">Men's Category</a>
                    <a href="sweatshirts.html#swomens">Women's Category</a>
                    <a href="sweatshirts.html#skids">Kids' Category</a>
                    <a href="sweatshirts.html#sbaby">Baby Category</a>
                </div>
            </div>
            <a href="contact.html#contact">Contact Us</a>
            <div class="icons"><ion-icon name="cart-outline"></ion-icon></div>
            <a href="login.html#top">Login</a>
        </div>
    </nav>

    <!--- Menu -->
    <section class="menu-section" id="sweatshirts">
        <h3 class="menu-subtitle">OUR SWEATSHIRTS</h3>
        <h2 class="menu-title" id="smens">Men's Sweatshirts</h2>

        <div class="menu-container">
            <div class="menu-card">
                <img src="../static/images/products/Men's Loose Fit Sweatshirt.webp" alt="Men's Loose Fit Sweatshirt">
                <h3>Men's Loose Fit Sweatshirt</h3>
                <p class="price">₱999.00</p>
                <button class="add-btn">Add to Cart</button>
            </div>

            <div class="menu-card">
                <img src="../static/images/products/Men's Oversized Fit Printed Sweatshirt.webp" alt="Men's Oversized Fit Printed Sweatshirt">
                <h3>Men's Oversized Fit Printed Sweatshirt</h3>
                <p class="price">₱1,790.00</p>
                <button class="add-btn">Add to Cart</button>
            </div>

            <div class="menu-card">
                <img src="../static/images/products/Men's Relaxed Fit Printed Sweatshirt.webp" alt="Men's Relaxed Fit Printed Sweatshirt">
                <h3>Men's Relaxed Fit Printed Sweatshirt</h3>
                <p class="price">₱1,290.00</p>
                <button class="add-btn">Add to Cart</button>
            </div>

            <div class="menu-card">
                <img src="../static/images/products/Men's Regular Fit Sweatshirt.webp" alt="Men's Regular Fit Sweatshirt">
                <h3>Men's Regular Fit Sweatshirt</h3>
                <p class="price">₱1,695.00</p>
                <button class="add-btn">Add to Cart</button>
            </div>
        </div>

        <h2 class="menu-title specialty-title" id="swomens">Women's Sweatshirts</h2>

        <div class="menu-container">
            <div class="menu-card">
                <img src="../static/images/products/Women's Text-Motif Sweatshirt.webp" alt="Women's Text-Motif Sweatshirt">
                <h3>Women's Text-Motif Sweatshirt</h3>
                <p class="price">₱1,490.00</p>
                <button class="add-btn">Add to Cart</button>
            </div>

            <div class="menu-card">
                <img src="../static/images/products/Women's Oversized Sweatshirt.webp" alt="Women's Oversized Sweatshirt">
                <h3>Women's Oversized Sweatshirt</h3>
                <p class="price">₱799.00</p>
                <button class="add-btn">Add to Cart</button>
            </div>

            <div class="menu-card">
                <img src="../static/images/products/Women's Printed Sweatshirt.webp" alt="Women's Printed Sweatshirt">
                <h3>Women's Printed Sweatshirt</h3>
                <p class="price">₱1,490.00</p>
                <button class="add-btn">Add to Cart</button>
            </div>

            <div class="menu-card">
                <img src="../static/images/products/Women's Oversized Motif-Detail Sweatshirt.webp" alt="Women's Oversized Motif-Detail Sweatshirt">
                <h3>Women's Oversized Motif-Detail Sweatshirt</h3>
                <p class="price">₱899.00</p>
                <button class="add-btn">Add to Cart</button>
            </div>
        </div>

        <h2 class="menu-title specialty-title" id="skids">Kids Sweatshirts</h2>

        <div class="menu-container">
            <div class="menu-card">
                <img src="../static/images/products/Kids Cotton Sweatshirt.webp" alt="Kids Cotton Sweatshirt">
                <h3>Kids Cotton Sweatshirt</h3>
                <p class="price">₱699.00</p>
                <button class="add-btn">Add to Cart</button>
            </div>

            <div class="menu-card">
                <img src="../static/images/products/Kids Oversized Crew Sweatshirt.webp" alt="Kids Oversized Crew Sweatshirt">
                <h3>Kids Oversized Crew Sweatshirt</h3>
                <p class="price">₱890.00</p>
                <button class="add-btn">Add to Cart</button>
            </div>

            <div class="menu-card">
                <img src="../static/images/products/Kids Graphic Print Sweatshirt.webp" alt="Kids Graphic Print Sweatshirt">
                <h3>Kids Graphic Print Sweatshirt</h3>
                <p class="price">₱1,409.00</p>
                <button class="add-btn">Add to Cart</button>
            </div>

            <div class="menu-card">
                <img src="../static/images/products/Kids Oversized Print-Motif Sweatshirt.webp" alt="Kids Oversized Print-Motif Sweatshirt">
                <h3>Kids Oversized Print-Motif Sweatshirt</h3>
                <p class="price">₱999.00</p>
                <button class="add-btn">Add to Cart</button>
            </div>
        </div>

        <h2 class="menu-title specialty-title" id="sbaby">Baby Sweatshirts</h2>

        <div class="menu-container">
            <div class="menu-card">
                <img src="../static/images/products/Baby Embroidered Teddy Sweatshirt.webp" alt="Baby Embroidered Teddy Sweatshirt">
                <h3>Baby Embroidered Teddy Sweatshirt</h3>
                <p class="price">₱799.00</p>
                <button class="add-btn">Add to Cart</button>
            </div>

            <div class="menu-card">
                <img src="../static/images/products/Baby Sweatshirt With Embroidered Teddy Bear.webp" alt="Baby Sweatshirt With Embroidered Teddy Bear">
                <h3>Baby Sweatshirt With Embroidered Teddy Bear</h3>
                <p class="price">₱895.00</p>
                <button class="add-btn">Add to Cart</button>
            </div>

            <div class="menu-card">
                <img src="../static/images/products/Baby Oversized Sweatshirt.webp" alt="Baby Oversized Sweatshirt">
                <h3>Baby Oversized Sweatshirt</h3>
                <p class="price">₱745.00</p>
                <button class="add-btn">Add to Cart</button>
            </div>

            <div class="menu-card">
                <img src="../static/images/products/Baby Palm Trees Printed Sweatshirt.webp" alt="Baby Palm Trees Printed Sweatshirt">
                <h3>Baby Palm Trees Printed Sweatshirt</h3>
                <p class="price">₱1295.00</p>
                <button class="add-btn">Add to Cart</button>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-col brand">
                <h2>SilverMoon<span>.</span></h2>
                <p>We will keep you cozy with our comfy hoodies and sweatshirts with fast delivery.</p>
                <div class="footer-socials">
                    <a href="https://facebook.com/"><ion-icon name="logo-facebook"></ion-icon></a>
                    <a href="https://instagram.com/"><ion-icon name="logo-instagram"></ion-icon></a>
                    <a href="https://twitter.com/"><ion-icon name="logo-twitter"></ion-icon></a>
                    <a href="https://google.com/"><ion-icon name="logo-google"></ion-icon></a>
                </div>
            </div>

            <div class="footer-col">
                <h3>Our Products</h3>
                <ul>
                    <li><a href="../index.html#popular">Popular</a></li>
                    <li><a href="../index.html#picks">Picks</a></li>
                    <li><a href="hoodies.html#hoodies">Hoodies</a></li>
                    <li><a href="sweatshirts.html#sweatshirts">Sweatshirts</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h3>Company</h3>
                <ul>
                    <li><a href="../index.html#services">Why SilverMoon</a></li>
                    <li><a href="footer.html#partner">Partner With Us</a></li>
                    <li><a href="footer.html#about">About Us</a></li>
                    <li><a href="footer.html#faq">FAQs</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h3>Support</h3>
                <ul>
                    <li><a href="login.html">Account</a></li>
                    <li><a href="contact.html#contact">Support Center</a></li>
                    <li><a href="../index.html#reviews">Feedback</a></li>
                    <li><a href="contact.html#contact">Contacts</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; 2025 SilverMoon. All rights reserved.</p>
        </div>
    </footer>

    <script src="../static/js/script.js"></script>
</body>
</html>